<!DOCTYPE html>
<html>
	<head>
	<script src="https://d3js.org/d3.v5.min.js" defer></script>
	<script language="javascript">
		function drawChart() {
			const data = [
				{% for index, row in rows %} { "timestamp": {{row['timestamp']}}, "name": "{{row['name']}}", "value": {{row['value']}} },{% endfor %}
			];

			const margin = {top: 50, right: 30, bottom: 50, left: 60},
			      width  = 0.9 * screen.width - margin.left - margin.right,
			      height = 0.75 * screen.height - margin.top - margin.bottom;

			const svg    = d3.select(".chart").append("svg");
			const values = data.map( d => d.value );
			const time   = data.map( d => d.timestamp );

			var xScale   = d3.scaleLinear().range(0, width);
			var yScale   = d3.scaleLinear().range(height, 0);

			xScale.domain( [d3.min( time   ), d3.max( time   ) ] ).range([ 0, width ]);
			yScale.domain( [d3.min( values ), d3.max( values ) ] ).range([ height, 0]);

			//xScale
			svg.append("g")
			   .attr("class", "xaxis")
			   .attr( "transform", "translate(0, " + height + ")" )
			   .call( d3.axisBottom( xScale ) );

			//yScale
			svg.append("g")
			   .attr("class", "yaxis")
			   .call( d3.axisLeft( yScale ) );

			//dataChart
			svg.append("path")
			   .data(data)
			   .attr("class", "dataChart")
			   .attr("d", d3.line()
				   .x( function(d) {return xScale(d.timestamp) } )
				   .y( function(d) {return yScale(d.value) } )
				   ( data )
			   );
		}

		window.onload =  function(e) { drawChart(); };
	</script>
	</head>
	<body>
		<div class="chart"></div>
	</body>
</html>
